* {
    margin: 0;
    padding: 0;
    font-family: 'ibm', sans-serif;
}

@font-face {
    font-family: 'ibm';
    src: url('/assets/fonts/ibm-font.woff2') format('truetype');
}


body {
    background-image: url('/assets/bg/bg.webp');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


/* Nav */

header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35vw;
    padding: 15px;
    color: white;
    position: fixed;
    top: 0;
    backdrop-filter: blur(100px);
    width: 100%;
    z-index: 99999;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

li {
    list-style: none;
    color: blue;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
}



/* Gallary */

section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
}

.imageSize {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 25px rgb(206, 206, 206);
    transition: 0.5s;
}

.imageSize:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.gallary {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 50px;
    padding: 120px 25px 100px 25px;
}


/* Footer */

footer p {
    text-align: center;
    color: white;
    padding: 15px;
}



@media (min-width: 650px) {
    .gallary {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {

    nav {
        gap: 5vw;
        flex-direction: column;
    }


    .imageSize {
        height: 250px;
        width: 250px;
    }
}


@media (min-width: 1200px) {
    .gallary {
        grid-template-columns: 1fr 1fr 1fr;
    }
}



@media (min-width: 1600px) {
    .gallary {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



@media (min-width: 2100px) {
    .gallary {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}